.hero-container {
  height: auto;
  font-family: "Karla", sans-serif;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.tools-text {
  color: white;
  font-size: 35px;
  margin-top: 0;
  padding-bottom: 90px;
  font-weight: 100;
  letter-spacing: 10px;
  font-family: "Geologica", sans-serif;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.hero-box {
  position: relative;
  background-color: rgb(64, 64, 64);
  width: 700px;
  height: 500px;
  color: white;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  overflow: hidden;
}
.hero-box:hover {
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 60px var(--clr);
  color: var(--clr);
}

.hero-box::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 400%;
  background: var(--clr);
  transition: 1s;
  animation: animate3 5s linear infinite;
}
.hero-box:hover::before {
  width: 120%;
}

@keyframes animate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero-box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: rgb(33, 33, 33);
  transition: 0.5s;
}

.hero-box span {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.hero-box .icon {
  z-index: 1;
  opacity: 1;
}
.icon span:hover {
  color: blue;
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 60px var(--clr),
    0 0 100px var(--clr);
}

@media screen and (max-width: 768px) {
  .hero-box {
    width: 300px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .hero-box::before {
    width: 180px;
  }
}
