.contenedor {
  /* border: 1px solid green; */
  margin-top: 400px;
  margin-bottom: 150px;
}

.contenedor h1 {
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
  font-size: 25px;
}
.divProyects {
  /* border: 1px solid crimson; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: auto;
  height: fit-content;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 790px) {
  .divProyects {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: fit-content;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}
